:root{
    --primary-color:#E2ECF3;
    --secondary-color:#5B676c;
    --accent1-color:#67BCC1;
    --accent2-color:#A5929E;
    
    --heading-font:roboto, serif;
    --paragraph-font:"open sans" serif;

    --nav-background-color:#E2ECF3;
    --nav-link-color:#5B676C;
    --nav-hover-link-color:#67BCC1;
    --nav-hover-background-color:#A5929E;
}
body {
    width: 800px;
    margin: 0 auto;

}
h1 {
    
    color: black;
}
p { 
    
    color:black;
    }
a {
    text-decoration: none;
    color: black;


}
.hero {
    width: 100%;
    position: relative;
    
 }
.hero img {
      display: block;
      width: 100%;
      height: auto;
 }
 h1 {
    position: absolute;
    bottom: 150px;
    left: 200px;
    width: 500px;
    margin: 0;
    background-color: #cfddde;
    border: 3px solid #5B676C;
     text-align:center 
}
article  {
    position: absolute;
    bottom: 50px;
    left: 200px;
    width: 350px;
    background-color:#cfddde;
    padding: 5px;
    border: 5px solid #5B676c;

}
.hero article img {
    float: right;
    width: 100px;
    
}
/*grid and flex*/
header {
    display: grid;
    background-color:#67BCC1;
    
margin: 1rem auto;
    width:100%;
    
}
.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
   
}
nav {
    display: flex;
    align-items: center;
    justify-content:  space-around;
}
   
    
.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #cfddde;
}
.history h2 {
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
}
.history p {
    overflow: auto;
}

    
.advendure {
    display: flex;

    
}


figure {
    border: thin #0b0c0c;
    margin: 5px;
    


}

figcaption {
    background-color:#cfddde;
    color:#0b0c0c;
    font: italic;
    padding: 3px;
    text-align: center;

}
figure img {
    max-width: 250px;
    max-height: 150px;

}

.bell {
    display: flex;
    justify-content: center;
}
.sociallinks {
   justify-content: flex-end; 
}
footer p {
    margin: 0;
   
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertically center items */
    padding: 1rem; /* Optional: add some padding */
    background-color: var(--nav-background-color); /* Use your variable for consistency */
}

form {
    position:relative;
    width:500px;
    height: fit-content;
    margin: 0 auto;
    padding: 1rem;
    border: solid black;
    border-radius: 1rem;
    background-color:#cfddde;
    display: grid;
}
legend {
    padding: .5rem;
    color: rgb(90, 6, 168);
    font-size: 2rem;
}
label, input, button, select, textarea {
    font-family:Arial, Helvetica, sans-serif;
}
    
label {
    text-align: right;
    padding: .2rem;
}

button:hover {
    background-color: blueviolet;
}
fieldset {
    display: grid;
    grid-gap:.5rem;
    margin: 1rem;
    border:  1px solid black;
    padding: 1rem;
}
.employees {
display: flex;
}
.contact {
    background-color: #A5929E;
    display: flex;
    
    justify-content:  space-around;
}

.contact h1{
        position: inherit;


}
.google-map{
   
    bottom: 150px;
    left: 150px;
    width: 220px;
    margin: 5px;
    background-color: #cfddde;
    border: 3px solid #5B676C;
     text-align:center 
     
/*home page*/
}
.title {
    display:flex;
    justify-content: center;
    }
.rafting {
    position:inherit;
    font-size: 3em;
}
  
    
   
    

.grid-container  {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px; 
    padding: 15px;
    margin: 10px;
}

.paragraph {
    grid-column: 3/4;
    grid-row:1/3;
    font-family: "Roboto Mono", monospace;
    background-color:#cfddde;
    border: solid 3px black;
    padding:20px;

    
}

.form {
    margin-bottom: 60px;
}

.book {
        padding:10px;
        background-color: aqua;
        border:1px solid black;
        border-radius: 10px;
        height: 30px;
    }

/*trip page*/

.trippic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 20px; 
    padding: 15px;
    margin: 10px;}





.trippic img {
border:solid  10px #5B676c;
}


.trippic2 img {
    border: solid 10px #5B676c;

}
.trippic2 p {
    background-color: #cfddde;
    border: solid 5px #5B676C;
}
.hope{
    display: flex;
    justify-content: center;
}
    

.bookatrip {
    justify-content: center;
    align-items:center;
    position:inherit;
    font-size: 3em;

}
 .figgy {
    border: solid 5px black;
 }   

table, th, td {
    border:2px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 10px;
    
    
}

caption {
    caption-side:bottom;
    padding: 10px;
    font-weight:bold;

}
thead>tr {
background-color: antiquewhite;

}

.amazing {
    
  
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    position: inherit;

}