*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color:steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    

    }
nav a {
    color:white;
    padding: 10px;
    display:block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}
h1 {
    color: steelblue;
    padding: .5rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.229)

}


    
aside {
    width: 20em;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside {
    display: block;
}


aside img {
    margin: 20px ;
    width: 150px;
    height: auto;
    border: 1px solid color black;
    padding: 2px;
    box-shadow:0 0 30px gray; ;
}
aside h2 {
    position: absolute;
    top:20px;
    left:20px;
}
main img {
    float: right;
    width: 160px;
    height: auto;
    border: 1px solid  steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center; 
}
/*class selectors*/
 .box{
    margin: 1rem;
    Border:1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color:bisque;
    color: cadetblue;
   
 }
 
 header,.grid,footer {
    max-width: 840px;
    margin: 1 auto;
 }
 .grid {
    display: grid;
    align-items:center;
    grid-template-columns: 300px 300px;
    grid-gap: 30px;
    padding: 10px;

 }
 main {
    grid-column: 2/3;
    margin: 1rem;
    
 }
main {
    display:block;


}

    





 


 
    
    

        
    
    
    

    

 
 
 
