:root { 
    --heading-background-color: steelblue;

}



nav { 
    background-color: var(heading-backgroung-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    border-color:var(--heading-background-color)
}
img {
    width: 150px;
    height: auto;
    border: 1px solid color:var(var--heading-background-color)
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;}
    main {
        max-width:  840px;
    }
aside  { 
    width: 20em;
    margin: 1px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1px;
    background-color:antiquewhite;
    color:brown;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 80px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center; 
}
