.callout {
    max: width 400px;
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem
    background-color: blue;
    
    

    
	
}

.callout img {
	
}

blockquote {
	
}

cite {
	
}