.callout {
    max: width 400px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: blue;
    color: white;
}

.callout img {
    position: float right;
    margin: 0 0 10px  10px;
    border: 5px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    width: 100px;
    height: auto;
    background-color: black 100%;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted white;
    padding top: 10px;
    text align: right;
    font-size: smaller;
}